$color-primary: #fffffe;
$color-secondary: #716040;
$color-tertiary: #f25042;

$color-dark: #020826;
$color-brown: #eaddcf;
$color-brown-dark: #b1926d;
$color-success: #3a7c3a;
// Default font size
$default-font-size: 16px;